#!/bin/bash
# === SQL-Dumps ===
# Config "{{ mysql_mysqldump_backup_cred_file }}" needs to include password,
# see: http://dev.mysql.com/doc/refman/5.0/en/password-security.html
# example:
#
#[client]
#user="backup"
#password="secret"

set -euo pipefail

umask 077

mysqldump_extra_file="{{ mysql_mysqldump_backup_cred_file }}"
target_path="{{ mysql_mysqldump_directory_alldbs }}"
all_db_filename="{{ mysql_mysqldump_alldb_filename }}"

{% if mysql_mysqldump_alldb_gzip %}

{% if mysql_mysqldump_connect_method == "socket" %}
mysqldump --defaults-extra-file="$mysqldump_extra_file" --single-transaction --all-databases > "$target_path"/"$all_db_filename" 2> /dev/null
{% endif %}
{% if mysql_mysqldump_connect_method == "tcp" %}
mysqldump --defaults-extra-file="$mysqldump_extra_file" --single-transaction --all-databases --protocol=TCP -h {{ mysql_mysqldump_connect_ip }} > "$target_path"/"$all_db_filename" 2> /dev/null
{% endif %}

{% else %}

{% if mysql_mysqldump_connect_method == "socket" %}
mysqldump --defaults-extra-file="$mysqldump_extra_file" --single-transaction --all-databases --protocol=socket |gzip > "$target_path"/"$all_db_filename".gz
{% endif %}
{% if mysql_mysqldump_connect_method == "tcp" %}
mysqldump --defaults-extra-file="$mysqldump_extra_file" --single-transaction --all-databases --protocol=TCP -h {{ mysql_mysqldump_connect_ip }} |gzip > "$target_path"/"$all_db_filename".gz
{% endif %}

{% endif %}
