# {{ ansible_managed }}

[client]
user="{{ mysql_mysqldump_user_name }}"
password="{{ mysql_mysqldump_user_password }}"

[mysqldump]
user="{{ mysql_mysqldump_user_name }}"
password="{{ mysql_mysqldump_user_password }}"
